.hero {
  height: 1000px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  opacity: .4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1, .hero h2 {
  color: white;
}

.hero h1 {
  font-size: 100px;
  padding-top: 10px;
  margin-top: 0;
}

.hero p {
  font-size: 30px;
  padding-top: 10px;
  margin-top: 0;
  color: white;
}
